--- 
layout: default
--- 
<div class="container my-4">
  <div class="row">
    <div class="col-md-6">
      <a href="https://alerts.infra.opensuse.org/">
        <h2 id="monitoring">
          {% include monitor.svg %}
          Alerting page
        </h2>
      </a>
      <p>
        Detailed monitoring alerts from our infrastructure. 
        This page is currently only accessible internally through the <a href="https://en.opensuse.org/openSUSE:Heroes" target="_blank">openSUSE Heroes</a> VPN.
      </p>
      <p>
        We transitioned from an
         <a href="https://github.com/Icinga/icinga2" title="Icinga2 Github Repo" target="_blank">Icinga2</a>
          setup with the
         <a href="https://github.com/Icinga/icingaweb2" title="IcingaWeb2 Github Repo" target="_blank">IcingaWeb</a>
          frontend to a
         <a href="https://prometheus.io" title="Prometheus homepage" target="_blank">Prometheus</a>
          based monitoring solution. The new configuration is entirely managed using
         <a href="https://docs.saltproject.io/en/latest/topics/about_salt_project.html" title="Salt documentation" target="_blank">Salt</a>
         and can be found in our 
         <a href="https://code.opensuse.org/heroes/salt/tree/production" title="Heroes Salt Git Repository" target="_blank">Salt Git repository</a>.
      </p>
      <p>
        The setup uses packages from our preferred <a href="https://www.opensuse.org">distribution</a>,
         and is enhanced with custom packages gathered in the
        <a href="https://build.opensuse.org/project/show/openSUSE:infrastructure:monitoring" title="openSUSE:infrastructure:monitoring project" target="_blank">openSUSE:infrastructure:monitoring</a> 
        repository.
      </p>
    </div>
    <div class="col-md-6">
      <a href="https://status.opensuse.org/">
        <h2 id="status">
          {% include status.svg %}
          Status page
        </h2>
      </a>
      <p>
        Status information about our services. This page is for end-users who want to know about the 
        current status of our infrastructure.
      </p>
      <p>
        Please note that the status information provided there is updated manually. We did not connect our 
         <a href="#monitoring">monitoring</a>
        with the (available) API, as we have not yet implemented a way to provide meaningful user facing information automatically. We think you earn a bit more explanation
        about the reasons why a service might be temporarily down or unreachable.
      </p>
      <p>
        The software used for the status page is called 
         <a href="https://cachethq.io/" title="Cachet homepage" target="_blank">Cachet</a>.
      </p>
    </div>
    <div class="col-md-6">
      <a href="https://monitor.opensuse.org/grafana/">
        <h2 id="grafana">
          {% include grafana.svg %}
          Grafana Dashboard
        </h2>
      </a>
      <p>
        Our public Grafana dashboards visualize the various machine and service metrics gathered in our infrastructure.
      </p>
    </div>
    <div class="col-md-6">
      <a href="https://monitor.opensuse.org/heroes/">
        <h2 id="irc">
          {% include irc.svg %}
          IRC Logs
        </h2>
      </a>
      <p>
        We discuss our topics mainly in our <a href="ircs://irc.libera.chat/#opensuse-admin">#opensuse-admin</a> IRC channel.
        You can find the latest logs from these discussions here.
      </p>
      <p>
        Please be reminded that everything you type in this channel will not only be logged on this page.
        <a href="https://en.wikipedia.org/wiki/Internet_Relay_Chat" title="IRC definition" target="_blank">IRC</a>
        allows everyone around the world to participate in and log the various public conversation channels.      </p>
      <p>
        Please remember to follow some common 
         <a href="https://meta.wikimedia.org/wiki/IRC/Guidelines" title="IRC guidelines" target="_blank">guidelines</a> 
        to keep our channel a useful and friendly place for everyone to exchange ideas, post status updates and 
        chat in a welcoming environment.
      </p>
      <p>
        We additionally have a channel for monitoring alerts at <a href="ircs://irc.libera.chat/#opensuse-admin-alerts">#opensuse-admin-alerts</a>.
        It is public, but should not be taken as a user facing reference for the status of services. Rather, it notifies administrators about
        issues early, allowing us to proactively resolve them.
      </p>
    </div>
<!--
    <div class="col-md-6">
      <a href="https://graylog.opensuse.org/">
        <h2 id="graylog">
          {% include graylog.svg %}
          Graylog instance
        </h2>
      </a>
      <p>
        Remote logs from all our servers. This page requires valid log in data.
      </p>
      <p>
        We use the standard 
         <a href="https://www.rsyslog.com/" title="rsyslog homepage" target="_blank">rsyslog</a>
        package from our distribution to send system messages to a central place inside our network. 
        From there, we push them into a 
         <a href="https://www.graylog.org/" title="Graylog homepage" target="_blank">Graylog</a>
        instance, that helps us to check, analyze and correlate the messages with a nice and shiny 
        WebUI. 
      </p>
    </div>
-->
  </div>
</div>
