---
---
<div class="container my-4">
  <div class="row">
    <div class="col-md-6">
      <a href="https://monitor.opensuse.org/icingaweb2/">
        <h2>
          {% include monitor.svg %}
          Monitoring page
        </h2>
      </a>
      <p>
        Get detailed monitoring information from our infrastructure. This page requires valid log in data.
      </p>
    </div>
    <div class="col-md-6">
      <a href="https://status.opensuse.org/">
        <h2>
          {% include status.svg %}
          Status page
        </h2>
      </a>
      <p>
        Status information about our services. This page is for end-users who want to know about the current status of our infrastructure.
      </p>
    </div>
    <div class="col-md-6">
      <a href="https://monitor.opensuse.org/grafana/">
        <h2>
          {% include grafana.svg %}
          Grafana Dashboard
        </h2>
      </a>
      <p>
        Our public Grafana Dashboard shows some performance data from our main databases.
      </p>
    </div>
    <div class="col-md-6">
      <a href="https://monitor.opensuse.org/heroes/">
        <h2>
          {% include irc.svg %}
          IRC Logs
        </h2>
      </a>
      <p>
        We discuss our topics mainly on our #opensuse-admin channel. You can find the latest logs from these discussions here.
      </p>
    </div>
  </div>
</div>
